{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-recess-order",
    "stylelint-config-prettier-scss"
  ],
  "rules": {
    "no-invalid-double-slash-comments": null,
    "selector-class-pattern": null
  }
}
